# Windows:
Thumbs.db
ehthumbs.db
Desktop.ini

# Python:
*.py[cod]
*.so
*.egg
*.egg-info
dist
build

# My configurations:
db.ini
deploy_key_rsa

# Java
*.class
*.classpath
*.project
*.settings
.project
.classpath
target/
.gitignore
*.gitignore
bin

# Don't want see the fuckin' file again!
